.aux/__MAIN_FILE.aux
.aux/__MAIN_FILE.bbl
.aux/__MAIN_FILE.bcf
.aux/__MAIN_FILE.blg
.aux/__MAIN_FILE.fdb_latexmk
.aux/__MAIN_FILE.fls
.aux/__MAIN_FILE.lof
.aux/__MAIN_FILE.log
.aux/__MAIN_FILE.lot
.aux/__MAIN_FILE.run.xml
.aux/__MAIN_FILE.toc
__MAIN_FILE.fls
__MAIN_FILE.synctex.gz
svg-inkscape/ABS_Monomers_V3_svg-raw.pdf
svg-inkscape/chemical_svg-raw.pdf
svg-inkscape/mechanical_svg-raw.pdf
svg-inkscape/PC_svg-raw.pdf
svg-inkscape/thermal_svg-raw.pdf
RadarCharts/~$tables.xlsx
chapters/kapitel 1 backup.tex
referenzen/splay.jpg
referenzen/paper_patente_usw/additive und abs und 3D Druck _ torrado2015.pdf
referenzen/paper_patente_usw/influence.of.additives.on.flow.behavior.Blyler.1974.pdf
referenzen/paper_patente_usw/liquid phase alkylation of benzene bellussi1995.pdf
referenzen/paper_patente_usw/patentschrift_ABS_1948_US2439202.pdf
.gitignore
.aux/__MAIN_FILE.pdf
svg-inkscape/1,3-Butadiene_Structural_Formula_V1_svg-raw.pdf
svg-inkscape/acrylnitril_svg-raw.pdf
svg-inkscape/Acrylonitrile-2D-skeletal_svg-raw.pdf
svg-inkscape/butadien_svg-raw.pdf
svg-inkscape/polyacrylnitril_svg-raw.pdf
svg-inkscape/polybutadien_svg-raw.pdf
svg-inkscape/polystyrol_svg-raw.pdf
svg-inkscape/styrol_svg-raw.pdf
__MAIN_FILE.pdf
__MAIN_FILE.pdf
__MAIN_FILE.bcf
__MAIN_FILE.run.xml
Auszug_ABS_mit_Kommentaren.PDF
Thema ABS.zip
__MAIN_FILE.pdf
HA_ABS_D.Hunter.pdf
svg-inkscape/abs_struktur_svg-tex.pdf
svg-inkscape/abs_struktur_svg-tex.pdf_tex
